h1 {
    background-color: aqua;
    color: black;
    text-align: center;
}

p {
    font-size: 18px;
}

.h2 {
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial,Georgia,Sans-serif;
}
.h2.description {
    background-color: orange;
    color: black;
}
.h2.ingredients {
    background-color: darkgreen; 
}

.h2.steps {
    background-color: darkviolet;
}

body li {
    font-size: 20px;
}

a {
    font-size: 28px;
    color: blue;
}

img {
    width: 500px;
    height: auto;
}